body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;    
}

ul a,ul img {
    padding: 0 8px;
}

.header-img:hover {
    background-color: rgb(233, 233, 233);
    box-shadow: 0 1 0 rgba(0, 0, 0, .15);
    border-radius: 10px;
}

#acnt-photo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;    
}

.my-input-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
    height: 36px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.my-input-container:hover {
    box-shadow: 0 0 3px 0 gainsboro;
}
.my-input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.my-button-container {
    padding: 25px;
}

button {
    font-size: 14px;
    color: #5f6368;
    background-color: #F8F9FA;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    box-shadow: 0 0 3px 0 rgb(151, 151, 151);
    cursor: pointer;
}

#en-lang a {
    color: blue;
}

#en-lang a:hover {
    text-decoration: underline;
}

footer {
    background-color: #F2F2F2; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

#location {         
    color: #5f6368;
    padding: 20px 0 14px 30px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.329);
}

.bot-nav {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;  
}

.bot-nav > a {     
    color: #5f6368;
}

#bot-nav-mid {
    width:5%;
    padding:0;
}